#home-header {}

#home-header h1 {
    font-size: 275%;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-style: normal;
    display: inline-block;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

#home-text {
    margin: auto;

}

#home-text h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 130px;
    margin-right: 130px;
    font-size: 200%;
    text-align: center;
    font-weight: bold;
    color: #808080;
}

#home-text p {
    text-align: center;
    font-family: fantasy;
    font-style: italic;
    margin-left: 130px;
    margin-right: 130px;
    font-size: 150%;
}

header {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #0E4534;
    background-size: cover;
    text-align: center;
    padding: 10px;
}

header h1 {
    font-style: italic;
    padding: 20px;
    color: #FFFFFF;
    font-size: 200%;
    opacity: 100%;
}

h1 {
    color: #800000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 150%;
}

nav a {
    display: inline-block;
    text-decoration: none;
    opacity: 75%;
    font-weight: bold;
    border-radius: 5px;
    color: #FFFFFF;
    background: #808080;
    padding: 10px;
    margin: 0px 20px 20px 20px;
    width: 15%;
}
nav a:hover {
    opacity: 100%;
}
nav a:active {
    color: #000080;
}

img {
	width: 45%;
	height: 45%;
}

.Images {
    display: inline-block;
    margin: auto;
}

.banner {
    display: flex;
    justify-content: center;
    margin: auto;
}

.ThrowingPieces {
    display: flex;
    justify-content: center;
    margin: auto;
}

.booking {
    text-align: center;
    font-size: 125%;
    font-family: Didot, serif;
}

.bio {
    text-align: center;
    font-size: 125%;
    font-family: Didot, serif;
}

.bio p {
    font-size: 110%;
    line-height: 25px;
    margin: 25px;
    padding-left: 100px;
    padding-right: 100px;
}

#intro {
    color: #808080;
    text-align: center;
    display: inline-block;
    margin: auto;
}

#ratings {
    color: #808080;
    text-align: center;
    display: inline-block;
    margin: auto;
}
